body {
  margin: 0;
  padding: 0;
}
#literally_never_trump {
  padding: 10px;
  height: 360px;
  width: 300px;
  text-align: center;
  font-family: 'EB Garamond', serif;
}
h1 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
}
.lnt-row {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 6% 0;
}
.lnt-button {
  display: block;
  width: 48%;
  height: auto;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 1%;
  float: left;
  background: #fff;
  color: #ff6d57;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: 2px solid #ff6d57;
  border-radius: 30px;
}
.lnt-option {
  display: block;
  width: 100%;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #fff;
  color: #ff6d57;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: 2px solid #ff6d57;
}
.lnt-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  color: #ff6d57;
  padding: 3px 6px;
}
.lnt-button.active,
.lnt-option.active {
  background: #ff6d57;
  color: #FFF;
}
.lnt-link {
  color: #000;
  text-decoration: underline;
}
.lnt-link:hover {
  color: #ff6d57;
}
